.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  margin-top: 1rem;
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.custom__button {
  background-color: var(--color-blue);
  margin: 1rem 0;
  color: #fff;
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.1s ease-in;
}
.custom__button:hover {
  margin: 0.8rem 0.2rem;
  filter: brightness(80%);
}
.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-dark-blue), inherit;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;

  font-size: 28px;
}

.p__dancing {
  font-family: var(--font-title);
  font-size: 3rem;
  margin: 0 1rem;
  color: var(--color-dark-blue), inherit;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-dark-blue), inherit;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;

  font-size: 18px;
}

.p__pink {
  color: var(--color-pink);
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon__img {
  width: 45px;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
  .p__dancing {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 3rem 2rem;
  }

  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }

  .p__dancing {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .p__cormorant {
    font-size: 1.8rem;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}
